/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo a:hover {
    color: #e91e63;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #e91e63;
}

.search {
    width: 200px;
    margin-right: 10px;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        /* position: static; */
        /* Override position property */
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu li {
        margin: 5px 0;
    }

    .search {
        margin-top: 10px;
        width: 100%;
    }
}